:root {
    --color1: #515151;
    --color2: #D6D6D6;
    --color3: #F18F01;
    --color4: #9774FF;
    --color5: #1F3B26;
    --color6: #519195;

    --light-theme01: #FFFFFF;
    --light-theme02: #333333;
    --light-theme03: #F18F01;
    --light-theme04: #5DADEC;
    --light-theme05: #519195;
    --light-theme06: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
}

#grd-1 {
    background-color: var(--light-theme03);
    box-shadow: 0px 0px 300px 160px var(--light-theme03);
    border-radius: 20px;
    width: 1px;
    height: 1px;
    position: absolute;
    right: 18%;
    bottom: 28%;
    opacity: 1;
}

#grd-2 {
    background-color: var(--light-theme04);
    box-shadow: 0px 0px 300px 160px var(--light-theme04);
    border-radius: 20px;
    width: 1px;
    height: 1px;
    position: absolute;
    left: 18%;
    top: 28%;
    opacity: 1;
}

#theme {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    margin: 3px 0 0 3px;
    padding: 4px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(224, 224, 224, 0.2);
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
    transition: transform 0.3s;
}

#theme:hover {
    cursor: pointer;
    box-shadow: rgba(51, 51, 51, 0.25) 0px 30px 60px -12px inset,
        rgba(224, 224, 224, 0.3) 0px 18px 36px -18px inset;
}

.theme-image {
    width: 2em;
    height: 2em;
    padding: 1px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#day {
    transform: translateX(50px);
    opacity: 1;
}

#night {
    transform: translateX(-35px);
    opacity: 0;
}

#ui-setting {
    position: fixed;
    width: 40px;
    height: 44px;
    right: 5px;
    top: 5px;
    transition: 1s ease;
}

#ui-setting:hover {
    cursor: pointer;
}

#ui-setting img {
    width: 40px;
    height: 44px;
    margin: 0;
    padding: 0;
}

#themes {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 10px;
    right: 50px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    border-radius: 12px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(224, 224, 224, 0.2);
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
    padding: 5px;
    transition: 1s ease;
}

#themes p {
    margin: 0 5px 10px 5px;
    width: -webkit-fill-available;
}

#themes p:hover {
    cursor: pointer;
    box-shadow: rgba(51, 51, 51, 0.25) 0px 30px 60px -12px inset,
        rgba(224, 224, 224, 0.3) 0px 18px 36px -18px inset;
}

#selected {
    background-color: #777676;
    width: max-content;
}

#clr-plt-tol {
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(224, 224, 224, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 310px;
    height: 320px;
}

#clr-plt-tol:hover {
    box-shadow: rgba(51, 51, 51, 0.25) 0px 30px 60px -12px inset,
        rgba(224, 224, 224, 0.3) 0px 18px 36px -18px inset;
}


.scrol-arrow {
    height: max-content;
    font-weight: 500;
    font-size: 30px;
    padding: 10px;
}

#go-to {
    text-decoration: none;
    width: 65%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#holder {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}

#holder:hover {
    cursor: pointer;
}

#icon {
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 200px;
}

#title {
    text-decoration: none;
    color: var(--color3);
    font-family: "Oswald";
    font-size: 1.5em;
}

#CR {
    position: absolute;
    left: 0;
    bottom: 0;
}